@import '../Bourbon/bourbon';
@import 'variables';
@import 'utils';
/**
*
* Global
*
**/

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
button {
  -moz-osx-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

body {
  background-color: $colourBlueDark;
  color: $colourText;



}
header {
  background-color: $colourYellow;
}
main {
  background-color: $colourContent;
}

footer {
  color: $colourTextInverted;
}