@model Cheapflights.Meta.Web.ViewModels.PageViewModel

@{
  Layout = null;
}


<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>@Model.PageTitle</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,600|Droid+Sans:400,700"' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="/style/global.css" />

        @foreach(var stylesheet in Model.Stylesheets) {
            <link rel="stylesheet" href="@stylesheet" />
        }

        @RenderSection("Head", required: false)

    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

        @RenderBody()

    </body>
</html>
