@model Cheapflights.Meta.Web.ViewModels.PageViewModel

@{
  Layout = "~/Views/Shared/Layout/_Layout.cshtml";
}



@* Main Content *@
<section>
@RenderBody()
</section>
@* End Main Content *@


@section Header {

  Header
  <nav>
  </nav>

}

@section Breadcrumb {
  <nav>
  </nav>
}

@section UpperContent {

}

@section LowerContent {

}

@section Footer {
<nav>
Footer
</nav>
}
